Repository lepoco/openapi.client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, documentation, dotnet, update, NuGet, dependencies, source-generators

Do not publish symbols
  .github/workflows/openapi-client-cd-nuget.yaml
Labels: github_actions

Add CLI
  .gitignore
  Directory.Packages.props
  OpenApi.Client.sln
  build/nuget.png
  src/OpenApi.Client.Cli/Commands/GenerateCommand.cs
  src/OpenApi.Client.Cli/DependencyInjection/DependencyInjectionRegistrar.cs
  src/OpenApi.Client.Cli/DependencyInjection/DependencyInjectionResolver.cs
  src/OpenApi.Client.Cli/OpenApi.Client.Cli.csproj
  src/OpenApi.Client.Cli/Program.cs
  src/OpenApi.Client.Cli/Settings/GenerateCommandSettings.cs
  src/OpenApi.Client.SourceGenerators/Generation/ClientGenerator.Types.cs
Labels: dotnet, source-generators

Update CLI
  src/OpenApi.Client.Cli/Commands/GenerateCommand.cs
  src/OpenApi.Client.Cli/DependencyInjection/DependencyInjectionRegistrar.cs
  src/OpenApi.Client.Cli/DependencyInjection/DependencyInjectionResolver.cs
  src/OpenApi.Client.Cli/GlobalUsings.cs
  src/OpenApi.Client.Cli/OpenApi.Client.Cli.csproj
  src/OpenApi.Client.Cli/Program.cs
  src/OpenApi.Client.Cli/Settings/GenerateCommandSettings.cs
Labels: dotnet

Update client
  src/OpenApi.Client.Cli/Commands/GenerateCommand.cs
  src/OpenApi.Client.Cli/GlobalUsings.cs
  src/OpenApi.Client.Cli/OpenApi.Client.Cli.csproj
  src/OpenApi.Client.Cli/Program.cs
  src/OpenApi.Client.Cli/Settings/GenerateCommandSettings.cs
  src/OpenApi.Client.Cli/Settings/JsonSerializerType.cs
Labels: dotnet

Update docs
  Directory.Build.props
  src/OpenApi.Client.Cli/OpenApi.Client.Cli.csproj
  src/OpenApi.Client/OpenApi.Client.csproj
Labels: NuGet

Update debugging
  README.md
  src/OpenApi.Client.Cli/Commands/GenerateCommand.cs
  src/OpenApi.Client.Cli/GlobalUsings.cs
  src/OpenApi.Client.Cli/Properties/launchSettings.json
Labels: dotnet

Update workflows
  .github/workflows/openapi-client-cd-nuget.yaml
  .github/workflows/openapi-client-pr-validator.yaml
Labels: github_actions

Update generation and error handling
  src/OpenApi.Client.Cli/Commands/GenerateCommand.cs
  src/OpenApi.Client.Cli/Settings/GenerateCommandSettings.cs
Labels: dotnet

Check for errors while saving
  src/OpenApi.Client.Cli/Commands/GenerateCommand.cs
Labels: dotnet

Update serializers
  src/OpenApi.Client.Cli/Commands/GenerateCommand.cs
  src/OpenApi.Client.Cli/Properties/launchSettings.json
  src/OpenApi.Client.SourceGenerators/Contracts/OpenApiContractParser.cs
  src/OpenApi.Client.SourceGenerators/Generation/ClientGenerator.Attributes.cs
  src/OpenApi.Client.SourceGenerators/Generation/ClientGenerator.Class.cs
  src/OpenApi.Client.SourceGenerators/Generation/ClientGenerator.Interface.cs
  src/OpenApi.Client.SourceGenerators/Generation/ClientGenerator.Result.cs
  src/OpenApi.Client.SourceGenerators/Generation/ClientGenerator.Serializer.cs
  src/OpenApi.Client.SourceGenerators/Generation/ClientGenerator.Types.cs
  src/OpenApi.Client.SourceGenerators/Generation/ClientGenerator.cs
  src/OpenApi.Client.SourceGenerators/Generation/ClientGeneratorSerializer.cs
  src/OpenApi.Client.SourceGenerators/Generation/GenerationResult.cs
  src/OpenApi.Client.SourceGenerators/OpenApi.Client.SourceGenerators.projitems
  src/OpenApi.Client.SourceGenerators/OpenApiClientGenerator.Execute.cs
  src/OpenApi.Client.SourceGenerators/OpenApiClientGenerator.cs
Labels: dotnet, source-generators

Move to Microsoft impl
  Directory.Packages.props
  src/OpenApi.Client.Cli/Commands/GenerateCommand.cs
  src/OpenApi.Client.Cli/OpenApi.Client.Cli.csproj
  src/OpenApi.Client.Cli/Program.cs
  src/OpenApi.Client.SourceGenerators/Contracts/OpenApiContractParser.cs
  src/OpenApi.Client.SourceGenerators/OpenApi.Client.SourceGenerators.projitems
  src/OpenApi.Client.SourceGenerators/OpenApi.Client.SourceGenerators.props
  src/OpenApi.Client.SourceGenerators/OpenApiClientGenerator.Execute.cs
  src/OpenApi.Client.SourceGenerators/OpenApiClientGenerator.cs
  src/OpenApi.Client.SourceGenerators/Schema/ApiDocumentMethod.cs
  src/OpenApi.Client.SourceGenerators/Schema/ApiDocumentPath.cs
  src/OpenApi.Client.SourceGenerators/Schema/ApiDocumentType.cs
  src/OpenApi.Client.SourceGenerators/Schema/ApiDocumentVersion.cs
  src/OpenApi.Client.SourceGenerators/Schema/IApiDocument.cs
  src/OpenApi.Client.SourceGenerators/Schema/v1_2_0/ApiDocument.cs
  src/OpenApi.Client.SourceGenerators/Schema/v2_0_0/ApiDocument.cs
  src/OpenApi.Client.SourceGenerators/Schema/v3_1_0/ApiDocument.cs
  src/OpenApi.Client.SourceGenerators/Serialization/Converters/v2_0_0/ParameterJsonConverter.cs
  src/OpenApi.Client.SourceGenerators/Serialization/Converters/v2_0_0/ResponseJsonConverter.cs
  src/OpenApi.Client.SourceGenerators/Serialization/Converters/v3_1_0/ParameterJsonConverter.cs
  src/OpenApi.Client.SourceGenerators/Serialization/Converters/v3_1_0/RequestBodyJsonConverter.cs
  src/OpenApi.Client.SourceGenerators/Serialization/Converters/v3_1_0/ResponseJsonConverter.cs
  src/OpenApi.Client.SourceGenerators/Serialization/Converters/v3_1_0/SchemaTypeJsonConverter.cs
  src/OpenApi.Client.SourceGenerators/Serialization/OpenApiSerializer.cs
  src/OpenApi.Client.SourceGenerators/Serialization/SerializationResult.cs
  src/OpenApi.Client.SourceGenerators/Serialization/SerializationResultError.cs
  src/OpenApi.Client/OpenApi.Client.csproj
  tests/OpenApi.Client.SourceGenerators.Roslyn431.UnitTests/Contracts/OpenApiContractParserTests.cs
  tests/OpenApi.Client.SourceGenerators.Roslyn431.UnitTests/Serialization/OpenApiSerializerTests.cs
Labels: dotnet, NuGet, source-generators

Update README.md
  README.md
Labels: none

fix: Move loading api
  .editorconfig
  Directory.Build.props
  Directory.Build.targets
  src/OpenApi.Client.Cli/Commands/GenerateCommand.cs
  src/OpenApi.Client.SourceGenerators/Client/ClientGenerator.cs
  src/OpenApi.Client.SourceGenerators/Client/GenerationError.cs
  src/OpenApi.Client.SourceGenerators/Client/GenerationErrorReason.cs
  src/OpenApi.Client.SourceGenerators/Client/GenerationResult.cs
  src/OpenApi.Client.SourceGenerators/Client/GeneratorData.cs
  src/OpenApi.Client.SourceGenerators/Client/SerializationTool.cs
  src/OpenApi.Client.SourceGenerators/Collections/EquatableArray.cs
  src/OpenApi.Client.SourceGenerators/Collections/ImmutableArrayBuilder.cs
  src/OpenApi.Client.SourceGenerators/Converters/AccessibilityConverter.cs
  src/OpenApi.Client.SourceGenerators/Diagnostics/DiagnosticDescriptors.cs
  src/OpenApi.Client.SourceGenerators/Diagnostics/DiagnosticInfo.cs
  src/OpenApi.Client.SourceGenerators/Extensions/DiagnosticsExtensions.cs
  src/OpenApi.Client.SourceGenerators/GlobalUsings.cs
  src/OpenApi.Client.SourceGenerators/OpenApi.Client.SourceGenerators.csproj
  src/OpenApi.Client.SourceGenerators/OpenApiClientGenerator.cs
  src/OpenApi.Client.SourceGenerators/Reflection/AssemblyVersionProvider.cs
  tests/OpenApi.Client.SourceGenerators.UnitTests/GeneratorTests.cs
Labels: dotnet, source-generators

fix: Fix source generator
  Directory.Build.targets
  src/OpenApi.Client.Cli/Commands/GenerateCommand.cs
  src/OpenApi.Client.Cli/Properties/launchSettings.json
  src/OpenApi.Client.SourceGenerators/Client/ClientGenerator.cs
  src/OpenApi.Client.SourceGenerators/GlobalUsings.cs
  src/OpenApi.Client.SourceGenerators/OpenApi.Client.SourceGenerators.csproj
  src/OpenApi.Client.SourceGenerators/Readers/CustomOpenApiJsonReader.cs
  src/OpenApi.Client.SourceGenerators/Reflection/AssemblyVersionProvider.cs
  src/OpenApi.Client.SourceGenerators/Utils.cs
  tests/OpenApi.Client.SourceGenerators.UnitTests/GeneratorTests.cs
  tests/OpenApi.Client.SourceGenerators.UnitTests/OpenApi.Client.SourceGenerators.UnitTests.csproj
  tests/OpenApi.Client.SourceGenerators.UnitTests/OpenApis/openapi-3.0.0.json
  tests/OpenApi.Client.SourceGenerators.UnitTests/OpenApis/openapi-3.1.0.json
Labels: dotnet, source-generators

fix: Update headers
  Directory.Build.props
  src/OpenApi.Client.SourceGenerators/Client/ClientGenerator.cs
  src/OpenApi.Client.SourceGenerators/Converters/AccessibilityConverter.cs
  src/OpenApi.Client.SourceGenerators/GlobalUsings.cs
  src/OpenApi.Client.SourceGenerators/OpenApiClientGeneration.cs
  src/OpenApi.Client.SourceGenerators/Reflection/AssemblyVersionProvider.cs
  src/OpenApi.Client.SourceGenerators/System/HashCode.cs
  src/OpenApi.Client.SourceGenerators/Utils.cs
  tests/OpenApi.Client.SourceGenerators.UnitTests/GeneratorTests.cs
Labels: dotnet, source-generators

fix: Update client
  .github/funding.yml
  README.md
  src/OpenApi.Client.SourceGenerators/Client/ClientGenerator.cs
  src/OpenApi.Client.SourceGenerators/OpenApiClientGeneration.cs
Labels: dotnet, source-generators

fix: Run the CLI tests
  Directory.Build.props
  Directory.Packages.props
  OpenApi.Client.sln
  src/OpenApi.Client.Cli/OpenApi.Client.Cli.csproj
  src/OpenApi.Client.Cli/Program.cs
  src/OpenApi.Client.SourceGenerators/Client/ClientGenerator.cs
  src/OpenApi.Client.SourceGenerators/Client/GeneratorData.cs
  src/OpenApi.Client.SourceGenerators/OpenApiClientGeneration.cs
  src/OpenApi.Client.SourceGenerators/OpenApiClientGenerator.cs
  src/OpenApi.Client.SourceGenerators/Readers/CustomOpenApiJsonReader.cs
  tests/OpenApi.Client.Cli.UnitTests/GenerateCommandTests.cs
  tests/OpenApi.Client.Cli.UnitTests/GlobalUsings.cs
  tests/OpenApi.Client.Cli.UnitTests/Hosting/HostFactoryResolver.cs
  tests/OpenApi.Client.Cli.UnitTests/OpenApi.Client.Cli.UnitTests.csproj
  tests/OpenApi.Client.Cli.UnitTests/OpenApis/openapi-1.2.0.json
  tests/OpenApi.Client.Cli.UnitTests/OpenApis/openapi-2.0.0.json
  tests/OpenApi.Client.Cli.UnitTests/OpenApis/openapi-3.0.0.json
  tests/OpenApi.Client.Cli.UnitTests/OpenApis/openapi-3.0.1.extended.json
  tests/OpenApi.Client.Cli.UnitTests/OpenApis/openapi-3.0.2.extended.json
  tests/OpenApi.Client.Cli.UnitTests/OpenApis/openapi-3.0.3.json
  tests/OpenApi.Client.Cli.UnitTests/OpenApis/openapi-3.1.0.json
  tests/OpenApi.Client.SourceGenerators.UnitTests/CamelCaseConverterTests.cs
  tests/OpenApi.Client.SourceGenerators.UnitTests/ClientGeneratorTests.cs
  tests/OpenApi.Client.SourceGenerators.UnitTests/CodeAnalysis/IncrementalGeneratorExtensions.cs
  tests/OpenApi.Client.SourceGenerators.UnitTests/CodeAnalysis/JsonAdditionalText.cs
  tests/OpenApi.Client.SourceGenerators.UnitTests/OpenApis/openapi-3.0.2.extended.json
  tests/OpenApi.Client.SourceGenerators.UnitTests/PascalCaseConverterTests.cs
  tests/OpenApi.Client.SourceGenerators.UnitTests/SourceGeneratorTests.cs
Labels: dotnet, source-generators

fix: Improve attribute handling
  src/OpenApi.Client.SourceGenerators/Client/ClientGenerator.cs
  src/OpenApi.Client.SourceGenerators/OpenApiClientGeneration.cs
  src/OpenApi.Client.SourceGenerators/OpenApiClientGenerator.cs
  src/OpenApi.Client.SourceGenerators/Readers/CustomOpenApiJsonReader.cs
  tests/OpenApi.Client.SourceGenerators.UnitTests/CodeAnalysis/IncrementalGeneratorExtensions.cs
  tests/OpenApi.Client.SourceGenerators.UnitTests/SourceGeneratorTests.cs
Labels: dotnet, source-generators

feat: Prepare MCP
  Directory.Packages.props
  OpenApi.Client.sln
  servers/server.yaml
  src/OpenApi.Client.Mcp/Configuration/McpMode.cs
  src/OpenApi.Client.Mcp/Configuration/ServerOptions.cs
  src/OpenApi.Client.Mcp/Dockerfile
  src/OpenApi.Client.Mcp/GlobalUsings.cs
  src/OpenApi.Client.Mcp/Log.cs
  src/OpenApi.Client.Mcp/OpenApi.Client.Mcp.csproj
  src/OpenApi.Client.Mcp/Program.cs
  src/OpenApi.Client.Mcp/Properties/launchSettings.json
  src/OpenApi.Client.Mcp/Services/IOpenApiService.cs
  src/OpenApi.Client.Mcp/Services/OpenApiService.cs
  src/OpenApi.Client.Mcp/Tools/OpenApiTools.cs
  src/OpenApi.Client.Mcp/appsettings.json
  src/OpenApi.Client.SourceGenerators/Client/ClientGenerator.cs
  src/OpenApi.Client.SourceGenerators/Client/GeneratorData.cs
  tests/OpenApi.Client.SourceGenerators.UnitTests/CodeAnalysis/IncrementalGeneratorExtensions.cs
  tests/OpenApi.Client.SourceGenerators.UnitTests/SourceGeneratorTests.cs
Labels: dotnet, source-generators

Delete server.yaml
  servers/server.yaml
Labels: none

feat: Create an MCP server (#2)
  Directory.Packages.props
  OpenApi.Client.sln
  src/OpenApi.Client.Mcp/Configuration/McpMode.cs
  src/OpenApi.Client.Mcp/Configuration/ServerOptions.cs
  src/OpenApi.Client.Mcp/Dockerfile
  src/OpenApi.Client.Mcp/GlobalUsings.cs
  src/OpenApi.Client.Mcp/Log.cs
  src/OpenApi.Client.Mcp/OpenApi.Client.Mcp.csproj
  src/OpenApi.Client.Mcp/Program.cs
  src/OpenApi.Client.Mcp/Properties/launchSettings.json
  src/OpenApi.Client.Mcp/Services/IOpenApiService.cs
  src/OpenApi.Client.Mcp/Services/OpenApiService.cs
  src/OpenApi.Client.Mcp/Tools/OpenApiTools.cs
  src/OpenApi.Client.Mcp/appsettings.json
  src/OpenApi.Client.SourceGenerators/Client/ClientGenerator.cs
  src/OpenApi.Client.SourceGenerators/Client/GeneratorData.cs
  src/OpenApi.Client.SourceGenerators/OpenApiClientGeneration.cs
  src/OpenApi.Client.SourceGenerators/OpenApiClientGenerator.cs
  src/OpenApi.Client.SourceGenerators/Readers/CustomOpenApiJsonReader.cs
  tests/OpenApi.Client.SourceGenerators.UnitTests/CodeAnalysis/IncrementalGeneratorExtensions.cs
  tests/OpenApi.Client.SourceGenerators.UnitTests/SourceGeneratorTests.cs
Labels: dotnet, source-generators

fix: Update Docker
  .dockerignore
  src/OpenApi.Client.Mcp/Dockerfile
  src/OpenApi.Client.Mcp/OpenApi.Client.Mcp.csproj
  src/OpenApi.Client.Mcp/appsettings.json
Labels: none

fix: Ignore all certificates in MCP server
  Directory.Packages.props
  Dockerfile
  README.md
  src/OpenApi.Client.Mcp/Configuration/ConfigurationFactory.cs
  src/OpenApi.Client.Mcp/GlobalUsings.cs
  src/OpenApi.Client.Mcp/Logging/StaticLoggerFactory.cs
  src/OpenApi.Client.Mcp/OpenApi.Client.Mcp.csproj
  src/OpenApi.Client.Mcp/Program.cs
  src/OpenApi.Client.Mcp/Properties/launchSettings.json
  src/OpenApi.Client.Mcp/Services/OpenApiService.cs
  src/OpenApi.Client.Mcp/Tools/OpenApiTools.cs
  src/OpenApi.Client.Mcp/appsettings.Development.json
  src/OpenApi.Client.Mcp/appsettings.json
Labels: dotnet

fix: Fix MCP server handling for URI / direct json reference
  Dockerfile
  README.md
  ThirdPartyNotices.txt
  src/OpenApi.Client.Mcp/Dockerfile
  src/OpenApi.Client.Mcp/Services/IOpenApiService.cs
  src/OpenApi.Client.Mcp/Services/OpenApiService.cs
  src/OpenApi.Client.Mcp/Tools/OpenApiTools.cs
  src/OpenApi.Client.Mcp/appsettings.json
Labels: dotnet

.github/labeler.yml:

release:
  - base-branch: 'main'

PR:
  - base-branch: [ 'main', 'development' ]

github_actions:
- changed-files:
  - any-glob-to-any-file: '.github/workflows/**'

documentation:
- changed-files:
  - any-glob-to-any-file: [ 'docs/**', 'documentation/**' ]

dotnet:
- changed-files:
  - any-glob-to-any-file: '**/*.cs'

update:
- changed-files:
  - any-glob-to-any-file: 'src/Directory.Build.props'

NuGet:
- changed-files:
  - any-glob-to-any-file: [ 'src/OpenApi.Client/**', 'src/Directory.Packages.props' ]

dependencies:
- changed-files:
  - any-glob-to-any-file: [ 'src/Directory.Packages.props' ]

source-generators:
- changed-files:
  - any-glob-to-any-file: [ 'src/OpenApi.Client.SourceGenerators/**' ]
